/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: black;
    color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

#theForm{
    background-color: darkgrey;
    color: black;
}
    #theForm input[type=submit]{
    background-color: black;
    color: white;
    }

.product-props{
    font-size: small;
}
 .product-props li {
     list-style-type: none;
 }

.product-info{
    border: 1px solid grey;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    /*width: 500px;*/
    background-color: lightgray;
    color: black;
    border-radius: 5px;

}
 .product-info img {
     max-width: 300px;
     margin: 3px;
     border: 1px solid black;
    
 }

 #loginToggle {
     cursor: pointer;
 }

 .popup-form {
     padding: 5px;
     border: 2px black inset;
     display: inline-block;
 }

 .popup-form input {
     width: 200px;
 }

 .popup-form label {
     width: 150px;
     display: inline-block;
 }

 .popup-form input[type=checkbox], .popup-form input[type=submit]{
     width: auto;
 }